body{
    background-color: rgba(66, 84, 182, 0.15);
}

.AboutUs{
    margin: 0 auto;
    padding: 50px;
    height: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.AboutUs h1{
    text-align: center;
    font-size: 2em;
    color: rgb(66, 84, 182);
    margin: 5% auto;
}

.AboutUs video{
    display: block;
    width: 700px;
    height: 550px;
}

.Us{
    height: 500px;
    display: flex;
    width: 100%;
    margin-left: 50px;
}
.US article{
    display: block;
    align-self: flex-end;
}
.Us article p{
    background-color: rgba(66, 84, 182, 0.1);
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 15px;
    font-family: 'Noto Serif Georgian', serif;
    margin-top: 0;
    height: 490px;
    width: 310px;
    clear: right;
    overflow: scroll;
    overflow-x: hidden;
    padding: 30px;
}
.US a{
    color: rgb(66, 84, 182);
    width: 100%;
}

.Us a:hover{
    color:white;
    background-color: rgb(66, 84, 182);
    transition: all 0.5s;
}

#h3{
    margin-top: 10%;
    height: 100px;
    color:rgb(66, 84, 182);
    font-family: 'Alex Brush', cursive;
}

.link{
    cursor: pointer;
    text-decoration: none;
    color: rgb(66, 84, 182);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
