body{
    background-color: rgba(66, 84, 182, 0.15);
}
.Contact h1{
    text-align: center;
    margin: 7% auto;
    color: rgb(66, 84, 182);
    font-weight: bolder;
    font-size: 2em;
}

.info{
    display: flex;
    margin: 50px 50px 50px 150px;
    color: rgb(66, 84, 182)
}

.info div{
    width: 100%;
}
.info h3, p {
    padding: 1%;
}

.map{
    float: right;
    clear: right;
}

.map iframe{
    width: 80%;
    height: 300px;
    border: 1px solid rgb(66, 84, 182);
}

/*misamarti*/
.misamarti{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 7%;
    padding: 0.5%;
}

.misamarti p{
    font-style: italic;
}

.info i{
    position: absolute;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 100%;
}

.info i:hover{
    color: white;
    background-color: rgb(66, 84, 182);
}

/*misamartiEnd*/

/*telefoni*/
.telefoni{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 7%;
        padding: 0.5%
}

.telefoni p{
    font-style: italic;
}

.misamarti a{
    color: rgb(66, 84, 182);
}

.what{
    margin-left: 7%;
}
/*telefoniEnd*/

/*Form*/
#form{
    margin-top: 5%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}
#form input{
    width: fit-content;
    display: inline-flex;
    padding: 2.5%;
    margin: 1.5% 2.5% 1.5% 0;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
}
#form textarea{
    flex-direction: column;
    width: 82%;
    height: 200px;
    align-self: center;
    align-content: center;
    align-items: center;
}

#form div{
    display: flex;
    position: inherit;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 2% auto;
}

#form button{
    cursor: pointer;
    display: block;
    border: 1px solid rgb(66, 84, 182);
    text-align: center;
    padding: 1% 2%;
    color: rgb(66, 84, 182)
}

#form button:hover{
    border: 1px solid white;
    color: white;
    background-color: rgb(66, 84, 182);
}